@model Ocuda.Promenade.Controllers.ViewModels.Help.ScheduleViewModel

@if (Model?.SegmentText != null)
{
    if (!string.IsNullOrEmpty(Model.SegmentText.Header))
    {
        <h1>@Model.SegmentText.Header</h1>
    }
    @Html.Raw(Model.SegmentText.Text)
}
else
{
    <h1>Schedule your time</h1>
}

@if (!string.IsNullOrEmpty(Model?.WarningText))
{
    <div class="row">
        <div class="col-12 col-sm-10 offset-sm-1">
            <div class="alert alert-warning">
                @Html.Raw(Model.WarningText)
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-12">
        <form method="post" action="@Url.Action("Schedule", "Help")">
            <input asp-for="RequestedDate"
                   type="date"
                   formgroup />
            <input asp-for="RequestedTime"
                   type="time"
                   step="1800"
                   formgroup />
            <select asp-for="SubjectId"
                    asp-items="Model.Subjects" formgroup></select>
            <div>
                <button type="submit"
                        class="btn btn-outline-dark m-2 btn-lg float-right">
                    Next
                    <span class="fas fa-chevron-right"></span>
                </button>
            </div>
        </form>
    </div>
</div>
