# Set default behavior to automatically normalize line endings.
* text=auto

# linguist overrides https://github.com/github/linguist#overrides
dev/* linguist-documentation

*.min.css linguist-generated=true
*.min.js linguist-generated=true
src/Ops.DataProvider.SqlServer.Ops/Migrations/* linguist-generated=true
src/Ops.DataProvider.SqlServer.Promenade/Migrations/* linguist-generated=true

src/Ops.Web/node_modules linguist-vendored
src/Promenade.Web/node_modules linguist-vendored

# fix script line endings
*.sh eol=lf
*.bash eol=lf

# fix CHANGELOG.md to default to union merge
CHANGELOG merge=union
