# Ocuda Travis CI Docker build file

os: linux
dist: trusty
sudo: required

language: bash

git:
  depth: 3

services:
  - docker

script: bash dev/bin/docker-build.sh

after_success:
  - |
    if [[ "$DOCKER_USERNAME" != "" ]] && [[ "$DOCKER_PASSWORD" != "" ]]; then
        if [[ "$TRAVIS_BRANCH" == "master" ]]; then
          echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
          docker push ocuda/ops:latest
          docker push ocuda/promenade:latest
          docker logout
        elif [[ "$TRAVIS_BRANCH" == "develop" ]]; then
          echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
          docker push ocuda/ops:$TRAVIS_BRANCH
          docker push ocuda/promenade:$TRAVIS_BRANCH
          docker logout
        fi
    fi
