@model Ocuda.Ops.Controllers.Areas.SiteManagement.ViewModels.Location.GroupListViewModel;

@if (Model.Groups.Count() == 0)
{
    <div class="row">
        <div class="col">
            <div class="alert alert-warning">No Items found</div>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col">
            <table class="table table-sm table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Group Type</th>
                        <th>Is Location Region</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var group in Model.Groups)
                    {
                        <tr class="itemRow">
                            <td class="align-middle">
                                @group.GroupType
                            </td>
                            <td class="align-middle text-center">
                                @if (group.IsLocationRegion)
                                {
                                    <span class="fas fa-check"></span>
                                }
                            </td>
                            <td class="align-middle">
                                <button type="button"
                                        class="btn btn-outline-primary additemButton"
                                        data-itemtype="Group"
                                        data-itemid="@group.Id">
                                    <span class="fas fa-plus-circle" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <nav paginate="@Model.PaginateModel"></nav>
}
