@model Ocuda.Ops.Controllers.Areas.SiteManagement.ViewModels.Location.LocationViewModel;

    <div class="col">
        <input value="@Model.LocationGroup.LocationId"
               asp-for="LocationGroup.LocationId"
               type="hidden"
               autocomplete="off" />
        <input value="@Model.LocationGroup.GroupId"
                asp-for="LocationGroup.GroupId"
                type="hidden"
                autocomplete="off" />
        @if (Model.Group.IsLocationRegion)
        {
            <div class="row mb-3">
                <label class="col-form-label text-md-end col-md-3">
                    Set as Location's Mapped Region?
                </label>
                <div class="flex-md-grow-0">
                    <div class="form-switch">
                        <input type="checkbox"
                               class="form-check-input"
                               asp-for="IsLocationsGroup"
                               value="@Model.IsLocationsGroup.ToString().ToLower()"
                               id="locationMapGroup" />
                    </div>
                </div>
            </div>
        }
        else
        {
            <p>Nothing to edit for now</p>
        }
    </div>