@model Ocuda.Ops.Controllers.ViewModels.Links.LinkListViewModel

@if (Model.Links.Count() == 0)
{
    <div class="alert alert-warning">No Links Found</div>
}
else
{
    <table class="table table-sm table-bordered">
        <thead>
            <tr>
                <th>Link</th>
                <th>Featured</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var link in Model.Links)
            {
                <tr>
                    <td><a href="@link.Url">@link.Name</a></td>
                    <td>@link.IsFeatured</td>
                </tr>
            }
        </tbody>
    </table>

    @if (Model.PaginateModel.MaxPage > 1)
    {
        <paginate paginateModel="@Model.PaginateModel"></paginate>
    }
}