@model Ocuda.Ops.Controllers.ViewModels.Home.UnauthorizedViewModel

<div class="d-flex justify-content-center">
    <div class="card w-auto mt-4" style="min-width: 40%">
        <div class="card-header d-flex justify-content-center alert-danger">
            <div class="card-title mb-0 lead">
                <span class="fas fa-exclamation-triangle"></span>
                You are not authorized to access that link.
            </div>
        </div>

        <div class="card-body">
            <p>User: @Model.Username</p>
            @if (!string.IsNullOrEmpty(Model.ReturnUrl))
            {
                <p>Link: @Model.ReturnUrl</p>
            }
            else
            {
                <p>Link: <span class="text-danger">Not specified</span></p>
            }
        </div>

        @if (!string.IsNullOrEmpty(Model.AdminEmail))
        {
            <div class="card-footer d-flex justify-content-center">
                <a class="btn btn-outline-primary"
                   href="@Model.AdminEmail">
                    <span class="far fa-envelope"></span>
                    Request access to this area
                </a>
            </div>
        }
    </div>
</div>

<style type="text/css">
    body {
        background-color: gray;
    }
</style>