@model Ocuda.Ops.Controllers.ViewModels.Home.UnauthorizedViewModel

<div class="d-flex justify-content-center">
    <div class="card border border-secondary w-auto">
        <div class="card-header d-flex justify-content-center alert-danger">
            <div class="card-title">You are not authorized to access that link.</div>
        </div>

        <div class="card-body">
            <p>User: @Model.Username</p>
            <p>Link: @Model.ReturnUrl</p>
        </div>

        <div class="card-footer d-flex justify-content-center">
            <button class="btn btn-primary" onclick="alert('soon.')">Request access to this area.</button>
        </div>
    </div>
</div>


