@model Ocuda.Ops.Controllers.ViewModels.Home.UnauthorizedViewModel

<p>You are not authorized to access that link.</p>

<p>User: @Model.Username</p>
<p>Link: @Model.ReturnUrl</p>

<button onclick="alert('soon.')">Request access to this area</button>
