@using Ocuda.Ops.Controllers.Areas.ContentManagement.ViewModels.IdentityProviders
@model IdentityProvidersViewModel

<div class="d-flex justify-content-between">
    <h1>SAML Configuration</h1>
    <div class="pt-2">
        <a asp-area="@nameof(Ocuda.Ops.Controllers.Areas.ContentManagement)"
           asp-controller="@Ocuda.Ops.Controllers.Areas.ContentManagement.HomeController.Name"
           asp-action="@nameof(Ocuda.Ops.Controllers.Areas.ContentManagement.HomeController.Index)"
           class="btn btn-outline-dark ms-2">Back</a>
    </div>
</div>

