@model Ocuda.Ops.Controllers.Areas.ContentManagement.ViewModels.SectionViewModel

    <div class="col-6">
        @if (Model.UserSections != null)
        {
            @foreach (var userSection in Model.UserSections)
            {
                <div class="card">
                    <div class="card-body">
                        <span>icon</span>
                        <h4 class="card-title">@userSection.Name</h4>
                        <a href="@Url.Action(nameof(SectionController.Section), new { sectionStub = userSection.Stub})" class="stretched-link"></a>
                    </div>
                </div>
            }
        }
        else
        {
            <div>
                You dont manage any sections
            </div>
        }
    </div>