<div class="row">
    <div class="col-12">
        <ul class="nav nav-pills" style="padding: 10px 0;">
            <li class="nav-item"><a asp-action="@nameof(PostsController.Index)" ActiveBy routeKey="Action" value="@nameof(PostsController.Index)" class="nav-link">Posts</a></li>
            <li class="nav-item"><a asp-action="@nameof(PostsController.Categories)" ActiveBy routeKey="Action" value="@nameof(PostsController.Categories)" class="nav-link">Categories</a></li>
        </ul>
    </div>
</div>