@model Ocuda.Ops.Controllers.Areas.SiteManagement.ViewModels.Feature.FeatureViewModel

@section styles {
    <link rel="stylesheet" href="~/css/md.min.css" asp-append-version="true" />
}

<div class="feature-save-container">
    <div class="feature-save-message"></div>
</div>

<div class="row">
    <div class="col-12">
        <h1>@(Model.Feature.IsNewFeature ? "Add Feature" : "Edit Feature")</h1>
    </div>
</div>

<form method="post"
      asp-controller="@FeaturesController.Name"
      asp-action="@Model.Action"
      role="form"
      id="featureform"
      display="inline">
    <input asp-for="Feature.Id" id="feature-id" type="hidden" />
    <input asp-for="Feature.NeedsPopup" type="hidden" />
    <input asp-for="Feature.Name"
           formgroup
           autocomplete="off" />
    <input asp-for="Feature.Icon"
           class="form-control icon-picker"
           type="text"
           formgroup
           autocomplete="off" />
    <select formgroup asp-for="Feature.IsAtThisLocation">
        <option value="false">Services Available</option>
        <option value="true">At This Location</option>
    </select>
    <div class="row">
        <div class="accordion offset-md-3 col-md-9" id="popup-accordion">
            <div class="accordion-item">
                <div class="accordion-header" id="accordion-header">
                    <button class="accordion-button collapsed"
                            style="text-decoration: none;"
                            id="popup-button"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#collapseDiv"
                            aria-expanded="true"
                            aria-controls="collapseDiv">
                        Display this feature in a pop-up
                    </button>
                </div>
                <div id="collapseDiv"
                     class="accordion-collapse collapse@(string.IsNullOrEmpty(Model?.Feature?.Stub)&&!Model.Feature.NeedsPopup ? "" : " show")"
                     aria-labelledby="headingOne"
                     data-parent="#popup-accordion">
                    <div class="accordion-body">
                        <input asp-for="Feature.Stub"
                               formgroup
                               autocomplete="off"
                               info-tooltip="The stub is the nickname/URL for the feature."
                               on-blur-js="FormatStub" />
                        <div class="mb-3 row">
                            <label asp-for="Feature.BodyText" class="col-md-3 col-form-label text-md-end"></label>
                            <div class="mb-3-inner col-md-9">
                                <textarea asp-for="Feature.BodyText" markdown-editor></textarea>
                                <span asp-validation-for="Feature.BodyText" class="validation-message text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="offset-md-3 col-md-9">
            <div class="mb-3">
                <a class="btn btn-secondary"
                   id="return-home"
                   asp-action="@nameof(FeaturesController.Index)">Return to Features</a>
                @if (Model.Feature.IsNewFeature)
                {
                    <text>
                        <button type="submit"
                                id="submit"
                                value="Submit"
                                class="btn btn-success"
                                button-spinner>
                            <span class="buttonText">Add Feature</span>
                        </button>
                    </text>
                }
                else
                {
                    <text>
                        <button type="submit"
                                id="submit"
                                value="Submit"
                                class="btn btn-success"
                                button-spinner>
                            <span class="buttonText">Update Feature</span>
                        </button>
                    </text>
                }
            </div>
        </div>
    </div>
</form>

@section scripts{
    <script src="~/js/md.min.js" asp-append-version="true"></script>
    <script>
        $("#featureform").submit(function (event) {
            if (!$("#collapseDiv").hasClass("show")) {
                $("#Feature_NeedsPopup").val("False");
                $("#Feature_Stub").val("");
                $("#wmd-input").val("");
            }
        });
        function FormatStub(object) {
            updateStub($(object), $(object).val());
        }

        $(document).ready(function () {
            var editor = new Markdown.Editor($("#Feature_BodyText"), { allowUploads: false });
            editor.run();
            $('[data-bs-toggle="tooltip"]').tooltip();
        });
    </script>
}
