.md-input {
    width: 100%;
    resize: vertical;
    height: 300px;
    font-family: monospace;
    border: 1px solid DarkGray;
    color: black;
}

.md-preview {
    width: 100%;
}

    .md-preview blockquote {
        border-left: 2px dotted #888;
        padding-left: 5px;
        background: #d0f0ff;
    }

.md-button-row {
    height: 20px;
    margin: 5px;
    padding: 0;
    position: relative;
}

.md-spacer {
    width: 1px;
    height: 16px;
    margin-left: 14px;
    position: absolute;
    background-color: Silver;
    display: inline-block;
    list-style: none;
}

.md-button {
    width: 20px;
    height: 20px;
    padding-left: 2px;
    padding-right: 3px;
    position: absolute;
    display: inline-block;
    list-style: none;
    cursor: pointer;
}

.md-prompt-background {
    background-color: Black;
    z-index: 1100;
}

.md-prompt-dialog {
    border: 1px solid #999;
    background-color: #F5F5F5;
    z-index: 1101;
    padding: 0.5rem 0;
}

    .md-prompt-dialog > .nav {
        padding: 0 0.5rem;
    }

    .md-prompt-dialog > .tab-content {
        padding: 0 0.5rem;
    }

    .md-prompt-dialog > div {
        font-size: 0.8em;
    }


    .md-prompt-dialog > form > input[type="text"] {
        border: 1px solid #999;
        color: black;
    }

    .md-prompt-dialog > form > input[type="button"] {
        border: 1px solid #888;
        font-size: 0.8em;
        font-weight: bold;
    }
