.container-fluid {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.form-vertical-alignment {
    display: inline-block;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
}

.oc-blog {
    padding-right: 0.5rem;
}

    .oc-blog .card {
        margin-bottom: 1.5rem;
        border-color: #77787a;
        border-width: thin;
    }

    .oc-blog .card-header {
        padding: 0.25rem;
        padding-left: 1rem;
        padding-right: 1rem;
        background-color: #307fe2;
        color: white;
    }

    .oc-blog h1 {
        font-size: xx-large;
    }

    .oc-blog .oc-pinned {
        background-color: #f0b323;
    }

    .oc-blog .card-title {
        margin: 0;
        color: white;
    }

    .oc-blog .card-footer {
        padding: 0.25rem;
        padding-left: 1rem;
        padding-right: 1rem;
        color: #5f6063;
    }

.oc-sidebar {
    padding-left: 0.5rem;
}

    .oc-sidebar .card {
        margin-bottom: 1rem;
        border-color: #77787a;
        border-width: thin;
    }

    .oc-sidebar .card-header {
        padding: 0.25rem;
        padding-left: 1rem;
        padding-right: 1rem;
        background-color: #a4343a;
        color: white;
    }

    .oc-sidebar h2 {
        font-size: x-large;
    }

    .oc-sidebar .card-title {
        margin: 0;
        color: white;
    }

    .oc-sidebar .card-body {
        padding: 0;
    }

    .oc-sidebar .card-footer {
        padding: 0.25rem;
        padding-left: 1rem;
        padding-right: 1rem;
        color: #5f6063;
    }


.link-table {
    position: relative;
}

.rowlink::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: inherit; /* don't forget to set the height! */
    margin-top: -5px;
}

.rowlink:hover::before {
    background-color: #EAEAEA;
    background-color: rgba(51, 51, 51, .1);
    cursor: pointer;
}

a.rowlink {
    color: #515151;
    text-decoration: none;
    height: 30px;
}

.on-top {
    position: relative;
    z-index: 100;
    background-color: white;
    background-clip: padding-box;
}

.on-top-nobg {
    z-index: 100;
    position: relative;
}

.page-link {
    height: 36px;
}

.page-input {
    padding: .5rem;
    text-align: center;
    width: 60px;
    -moz-appearance: textfield;
    -webkit-appearance: none;
}

    .page-input::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
        margin: 0;
        -moz-appearance: textfield;
        -webkit-appearance: none;
    }

.field-validation-error {
    color: #f00;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.navbar .dropdown-item:hover {
    color: inherit;
    background: inherit;
}

.navcolumn {
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    background-color: steelblue;
    position: fixed;
    z-index: 3;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: .5s;
    padding-top: 2rem;
}

    .navcolumn.navcolumn-open {
        overflow-y: unset;
        width: 250px;
    }

    .navcolumn > .card:first-child {
        border-top: 1px solid lightslategrey;
    }

.navcolumn-overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.3);
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
    opacity: 0;
    transition: opacity .5s;
}

    .navcolumn-overlay.navcolumn-open {
        opacity: 0.8;
        width: 100%;
    }

.navcolumn .card {
    background-color: none;
    border: 0px;
    border-radius: 0;
}

.navcolumn-item {
    background-color: steelblue;
    border-bottom: 1px solid lightslategrey;
    color: white !important;
    cursor: pointer;
    display: inline-block;
    font-size: 0.75rem;
    font-weight: 700;
    padding: 0.2rem 0.75rem;
    line-height: 1.5;
    text-align: left;
    text-decoration: none !important;
    vertical-align: middle;
}

    .navcolumn-item:hover {
        background-color: orange;
    }

    .navcolumn-item.navitem-open {
        background-color: orange;
    }

    .navcolumn-item .fas {
        line-height: 1.5;
    }

.navcolumn-child {
    background-color: lightsteelblue;
    padding-left: 1.25rem;
}

.navcolumn-grandchild {
    background-color: lightskyblue;
    padding-left: 1.75rem;
}

@media screen and (max-height: 500px) {
    .navcolumn {
        padding-top: 15px;
    }

        .navcolumn a {
            font-size: 18px;
        }
}


.oc-gallery {
    justify-content: center;
}

    .oc-gallery .card {
        border-color: #77787a;
        border-width: thin;
        margin-bottom: 1.5rem;
        width: 310px;
    }

    .oc-gallery .card-header {
        padding: 0.25rem;
        padding-left: 1rem;
        padding-right: 1rem;
        background-color: #307fe2;
        color: white;
    }

    .oc-gallery .card-title {
        margin: 0;
        color: white;
    }

    .oc-gallery .card-body {
        padding: 0;
    }

    .oc-gallery .carousel-inner {
        height: 310px;
    }

    .oc-gallery .carousel-indicators li {
        background-color: #888b8d;
        border: solid;
        border-color: #77787a;
        border-radius: 50%;
        border-width: medium;
        position: relative;
        height: 20px;
        width: 20px;
    }

    .oc-gallery .carousel-indicators .active {
        background-color: #cfd1d1;
    }

.thumbnail-input {
    margin-bottom: 0px;
}

    .thumbnail-input .card {
        margin-bottom: 1rem;
        width: 150px;
    }

    .thumbnail-input .card-body {
        height: 150px;
    }

    .thumbnail-input img {
        max-height: 150px;
        max-width: 150px;
    }

.oc-modal-xl {
    max-width: unset;
    width: 95%;
}

@media (min-width: 576px) {
    .oc-modal-xl {
        width: 90%;
    }
}

@media (min-width: 768px) {
    .oc-modal-xl {
        width: 85%;
    }
}

@media (min-width: 992px) {
    .oc-modal-xl {
        width: 80%;
    }
}