.container-fluid {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.page-link {
    height: 36px;
}

.page-input {
    padding: .5rem;
    text-align: center;
    width: 60px;
    -moz-appearance: textfield;
    -webkit-appearance: none;
}

    .page-input::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
        margin: 0;
        -moz-appearance: textfield;
        -webkit-appearance: none;
    }

.field-validation-error {
    color: #f00;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.navbar .dropdown-item:hover {
    color: inherit;
    background: inherit;
}

.navcolumn {
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    background-color: steelblue;
    position: fixed;
    z-index: 3;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: .5s;
    padding-top: 2rem;
}

    .navcolumn.navcolumn-open {
        overflow-y: unset;
        width: 250px;
    }

    .navcolumn > .card:first-child {
        border-top: 1px solid lightslategrey;
    }

.navcolumn-overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.3);
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
    opacity: 0;
    transition: opacity .5s;
}

    .navcolumn-overlay.navcolumn-open {
        opacity: 0.8;
        width: 100%;
    }

.navcolumn .card {
    background-color: none;
    border: 0px;
    border-radius: 0;
}

.navcolumn-item {
    background-color: steelblue;
    border-bottom: 1px solid lightslategrey;
    color: white !important;
    cursor: pointer;
    display: inline-block;
    font-size: 0.75rem;
    font-weight: 700;
    padding: 0.2rem 0.75rem;
    line-height: 1.5;
    text-align: left;
    text-decoration: none !important;
    vertical-align: middle;
}

    .navcolumn-item:hover {
        background-color: orange;
    }

    .navcolumn-item.navitem-open {
        background-color: orange;
    }

    .navcolumn-item .fas {
        line-height: 1.5;
    }

.navcolumn-child {
    background-color: lightsteelblue;
    padding-left: 1.25rem;
}

.navcolumn-grandchild {
    background-color: lightskyblue;
    padding-left: 1.75rem;
}

tr.row-link {
    cursor: pointer;
}
tr.row-link.selected {
    background-color: lemonchiffon;
}
tr.row-link.selected:hover {
    background-color: beige;
}
span.format-addr {
    font-style: italic;
}
td.group-item:hover, td.feature-item:hover{
    cursor: pointer;
}
tr.itemRow td {
    vertical-align: middle;
    word-wrap: break-word;
}
.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: rgba(0,0,0,0);
}

@media screen and (max-height: 500px) {
    .navcolumn {
        padding-top: 15px;
    }

    .navcolumn a {
        font-size: 18px;
    }
}
