.oc-blog {
    padding-bottom: 1rem;
    padding-left: 0;
    padding-right: 0.5rem;
    padding-top: 1rem;
}

    .oc-blog .card {
        margin-bottom: 1.5rem;
        border-color: #77787a;
        border-width: thin;
    }

    .oc-blog .card-header {
        padding: 0.25rem;
        padding-left: 1rem;
        padding-right: 1rem;
        background-color: #307fe2;
        color: white;
    }

    .oc-blog h1 {
        font-size: xx-large;
    }

    .oc-blog .oc-pinned {
        background-color: #f0b323;
    }

    .oc-blog .card-title {
        margin: 0;
        color: white;
    }

    .oc-blog .card-footer {
        padding: 0.25rem;
        padding-left: 1rem;
        padding-right: 1rem;
        color: #5f6063;
    }

.oc-sidebar {
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0;
    padding-top: 1rem;
}

    .oc-sidebar .card {
        margin-bottom: 1rem;
        border-color: #77787a;
        border-width: thin;
    }

    .oc-sidebar .card-header {
        padding: 0.25rem;
        padding-left: 1rem;
        padding-right: 1rem;
        background-color: #a4343a;
        color: white;
    }

    .oc-sidebar h2 {
        font-size: x-large;
    }

    .oc-sidebar .card-title {
        margin: 0;
        color: white;
    }

    .oc-sidebar .card-body {
        padding: 0;
    }

    .oc-sidebar .card-footer {
        padding: 0.25rem;
        padding-left: 1rem;
        padding-right: 1rem;
        color: #5f6063;
    }
