body {
    background-color: #ccc;
}

span.prom-fa-space {
    margin-right: 0.5rem;
}

.hidden-xxs {
    display: none;
}

.fs-6 {
    font-size: 1rem !important;
    ;
}

@media (min-width: 385px) {
    .hidden-xxs {
        display: inline;
    }
}

/* footer */
footer {
    background-color: #333;
    height: 51px;
}

    footer a,
    footer a:hover {
        color: white;
        padding: 0.75rem 0;
        text-decoration: none;
    }

        footer a:hover .prom-footer-link-text {
            text-decoration: underline;
        }

/* top nav bar */
.prom-nav-top {
    background-color: #666;
    color: white;
    line-height: normal;
}

    .prom-nav-top .prom-language-dropdown {
        margin: 10px 0;
        color: white;
    }

    .prom-nav-top > .prom-right-nav {
        margin: 0;
        display: flex;
        justify-content: flex-end;
        list-style-type: none;
    }

        .prom-nav-top > .prom-right-nav > li {
            padding: 1rem 0.5rem;
            float: right;
        }

            .prom-nav-top > .prom-right-nav > li > a {
                color: white;
                padding: 0;
            }

                .prom-nav-top > .prom-right-nav > li > a:hover {
                    text-decoration: underline;
                }

        .prom-nav-top > .prom-right-nav .prom-dropdown-swap-link {
            display: none;
        }

        .prom-nav-top > .prom-right-nav .prom-nav-link {
            display: block;
        }

/* logo nav bar */
.prom-nav-logo {
    background-color: #333;
}

    .prom-nav-logo img {
        padding: 10px;
        max-width: 90vw;
    }

/* bottom nav bar */
.prom-nav-middle {
    background-color: white;
}

    .prom-nav-middle .prom-nav-dropdown {
        padding-top: 4px;
        padding-bottom: 4px;
        cursor: pointer;
    }

    .prom-nav-middle .prom-dropdown-swap-link {
        display: none;
    }

    .prom-nav-middle .prom-nav-link {
        display: block;
    }

@media (min-width: 385px) {
    .prom-nav-top > .prom-right-nav .prom-dropdown-swap-link {
        display: block;
    }

    .prom-nav-top > .prom-right-nav .prom-nav-link {
        display: none;
    }

    .prom-nav-middle .prom-dropdown-swap-link {
        display: block;
    }

    .prom-nav-middle .prom-nav-link {
        display: none;
    }
}

/* content */
.prom-content-container {
    background-color: #ccc;
}

.prom-leftnav-container {
    padding: 1rem 0.5rem;
}

.prom-leftnav .prom-leftnav-section {
    background-color: white;
    margin-bottom: 0.25rem;
    padding: 0.25rem;
    position: relative;
}

.prom-leftnav a.prom-leftnav-featurette-button {
    margin-bottom: 0.5rem;
    color: white;
}

    .prom-leftnav a.prom-leftnav-featurette-button:hover {
        color: white;
    }

.prom-leftnav a.prom-leftnav-featurette-button-1 {
    margin-top: 1rem;
}

.prom-leftnav .prom-leftnav-header {
    cursor: pointer;
}

a.prom-leftnav-header:hover {
    text-decoration: none;
}

.prom-leftnav .prom-leftnav-header:first-child {
    padding-left: 0.25rem;
    padding-right: 1.5rem;
}

.prom-leftnav .prom-leftnav-content {
    font-size: 0.9rem;
    padding-top: 0.5rem;
    padding-bottom: 0.1rem;
    padding-right: 0.7rem;
}

    .prom-leftnav .prom-leftnav-content ul {
        margin-bottom: 0.25rem;
    }

.prom-leftnav-social {
    font-size: 2rem;
    margin-top: 1rem;
}

    .prom-leftnav-social a.prom-leftnav-social-link {
        margin-left: 0.5rem;
    }

        .prom-leftnav-social a.prom-leftnav-social-link:last-child {
            margin-right: 0.5rem;
        }

/* body content */
.prom-body-content-container {
    padding-left: 0;
    padding-right: 0;
}

.prom-body-content {
    background-color: white;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    padding: 0.5rem 1rem;
}

@media (min-width: 576px) {
    .prom-body-content-container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .prom-body-content {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

.prom-leftnav-header[data-toggle="collapse"]::after {
    font-weight: 900;
    position: absolute;
    right: 0.75rem;
    top: 0.25rem;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Font Awesome 5 Free";
    content: "\f0d7";
    transform: rotate(180deg);
    transition: all linear 0.25s;
}

.prom-leftnav-header[data-toggle="collapse"].collapsed::after {
    transform: rotate(0deg);
}

.prom-body-content h1 {
    font-size: 2rem;
    display: inline-block;
}

.prom-body-content hr {
    border-top: 2px solid;
}

.prom-body-content h2 {
    font-size: 1.8rem;
    line-height: 1.5;
}

    .prom-body-content h2 + hr {
        margin-top: -0.5rem;
        padding-top: 0;
    }

.prom-body-content h3 {
    font-size: 1.6rem;
}

.prom-body-content dd {
    margin-left: 3rem;
    margin-top: 0.5rem;
}

.prom-location-tile {
    border: 1px solid #ccc;
    background-color: #f0f0f0;
}

    .prom-location-tile .status-bar {
        height: 0.4rem;
    }

.prom-location-icon-text {
    color: white;
    font-weight: bold;
}

.prom-location .prom-features {
    text-align: center;
    margin-bottom: 0.5rem;
}

    .prom-location .prom-features a:hover {
        text-decoration: none;
    }

.prom-location .prom-feature-segment {
    margin-bottom: 0.5rem;
}

.prom-location .prom-location-nearby td {
    vertical-align: middle;
}

.prom-locations-maplink {
    color: black;
}

    .prom-locations-maplink:hover {
        color: white;
    }

.emedia-help {
    color: black;
}
    .emedia-help:hover {
        color: black;
    }

/* carousels */

.prom-carousel div {
    text-align: center;
}

    .prom-carousel div a {
        text-decoration: none;
    }

        .prom-carousel div a img {
            margin-left: auto;
            margin-right: auto;
            max-width: 150px;
            padding-bottom: 1rem;
        }

.prom-carousel .prom-carousel-nav {
    color: #47484a;
    cursor: pointer;
    position: absolute;
    top: 40%;
    z-index: 100;
}

.prom-carousel .prom-carousel-prev {
    left: 0;
}

.prom-carousel .prom-carousel-next {
    right: 0;
}

/* paginate page input styling */

.page-link {
    height: 36px;
}

.page-input {
    padding: .5rem;
    text-align: center;
    width: 60px;
    -moz-appearance: textfield;
    -webkit-appearance: none;
}

    .page-input::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        margin: 0;
        -moz-appearance: textfield;
        -webkit-appearance: none;
    }
