body {
    background-color: white;
}

.prom-content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

span.prom-fa-space {
    margin-right: 0.5rem;
}

.hidden-xxs {
    display: none;
}

.btn {
    border-radius: 0;
}

.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.location-feature-link {
    font-size: 1.1rem;
    font-weight: bold;
}

    .location-feature-link a {
        text-decoration: none;
    }

.prom-box-border {
    border: 3px solid gray;
    border-radius: 0;
}

@media (min-width: 385px) {
    .hidden-xxs {
        display: inline;
    }
}

/* footer */
footer {
    background-color: #333;
    flex-direction: row-reverse;
}

    footer .prom-logo {
        max-height: 90px;
    }

    footer.row-nowrap {
        flex-wrap: nowrap;
    }

    footer a,
    footer a:hover {
        color: white;
        text-decoration: none;
    }

        footer a:hover .prom-footer-link-text {
            text-decoration: underline;
        }

.footer-navigation-list {
    list-style-type: none;
    line-height: 1rem;
}

@media (min-width:576px) {
    .footer-navigation-list {
        -webkit-columns: 2;
        -moz-columns: 2;
        columns: 2;
    }
}

@media (min-width: 768px) {
    .footer-navigation-list {
        -webkit-columns: 3;
        -moz-columns: 3;
        columns: 3;
    }
}

/* carousels */

.prom-carousel div {
    text-align: center;
}

    .prom-carousel div a {
        text-decoration: none;
    }

        .prom-carousel div a img {
            margin-left: auto;
            margin-right: auto;
            max-width: 150px;
            padding-bottom: 1rem;
        }

.prom-carousel-footer p {
    margin-bottom: 0;
}

.prom-carousel .prom-carousel-nav {
    color: #47484a;
    cursor: pointer;
    position: absolute;
    top: 40%;
    z-index: 100;
}

.prom-carousel .prom-carousel-prev {
    left: 0;
}

.prom-carousel .prom-carousel-next {
    right: 0;
}

.card-footer a {
    text-decoration: none;
}

/* top nav bar */
.prom-nav-top .prom-logo {
    max-height: 90px;
}

.prom-nav-top {
    background-color: white;
    color: #666;
    line-height: normal;
}

.prom-nav-top-button {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    background-color: lightgray;
}

.prom-nav-top .prom-language-dropdown {
    margin: 10px 0;
}

.prom-nav-top > .prom-right-nav {
    list-style-type: none;
}

    .prom-nav-top > .prom-right-nav > li {
        padding: 0.6rem 0.5rem;
        height: fit-content;
    }

        .prom-nav-top > .prom-right-nav > li > a {
            color: white;
            padding: 0
        }

.prom-location .prom-features a:hover {
    text-decoration: none;
}

.prom-nav-top > .prom-right-nav > li > a:hover {
    text-decoration: underline;
}

.prom-nav-top > .prom-right-nav .prom-dropdown-swap-link {
    display: none;
}

.prom-nav-top > .prom-right-nav .prom-nav-link {
    display: block;
}

@media (min-width: 576px) {
    .prom-nav-top-button {
        border-radius: 50px 10px 10px 50px;
        max-width: 120px;
    }
}

/* bottom nav bar */
.prom-footer-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: lightgray;
    padding-left: 0;
    padding-right: 0;
}

    .prom-footer-contact .footer-contact {
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .prom-footer-contact a {
        font-size: 1rem;
        color: white;
    }

    .prom-footer-contact .footer-contact {
        padding: 10px 0;
        color: white;
        font-weight: bold;
    }

        .prom-footer-contact .footer-contact:nth-child(even) {
            background: gray;
        }

.prom-nav-middle-parent {
    background-color: #333;
}

.prom-nav-middle .prom-dropdown-swap-link {
    display: none;
}

.prom-nav-middle .prom-nav-dropdown {
    padding: 0;
    cursor: pointer;
    background-color: inherit;
    min-width: unset;
    border: none;
    border-radius: 0;
    text-align: center;
}

    .prom-nav-middle .prom-nav-dropdown .dropdown-item {
        white-space: normal;
        word-break: break-word;
        padding: 0.5rem;
    }

.prom-nav-middle .prom-nav-link .nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 45px;
}

.prom-nav-middle li.prom-nav-link:first-child {
    display: none;
}

.prom-nav-middle li.prom-nav-link {
    background-color: #979797;
}

    .prom-nav-middle li.prom-nav-link:nth-child(even) {
        background-color: #e2e2e2;
    }

.prom-nav-link * {
    color: #fff;
}

.prom-nav-link .dropdown-toggle {
    white-space: normal;
}

.dropdown-toggle::after {
    transition: transform 0.2s ease;
}

.navbar-toggler:not(.collapsed)::after {
    transform: rotate(-180deg);
}

.dropdown-toggle.show::after {
    transform: rotate(-180deg);
}

.prom-top-searchbar {
    min-height: 40px;
    background-color: #d8dfe1;
    gap: 10px;
}

    .prom-top-searchbar .dropdown-item {
        font-weight: bold;
    }

    .prom-top-searchbar .dual-search-button {
        padding: 0.5rem;
        border-radius: 10px;
        border: 1px solid #132048;
        min-width: 110px;
    }

@media (min-width: 385px) {
    .prom-nav-middle .prom-dropdown-swap-link {
        display: block;
        background-color: white;
    }

    .prom-nav-top > .prom-right-nav .prom-dropdown-swap-link {
        display: block;
    }

    .prom-nav-top > .prom-right-nav .prom-nav-link {
        display: none;
    }

    .prom-nav-middle .prom-dropdown-swap-link > a {
        border-radius: 0;
    }
}

@media (min-width: 576px) {
    .prom-footer-contact {
        flex-direction: row;
    }

        .prom-footer-contact .footer-contact {
            padding: 5px 0;
        }

    .prom-nav-middle li.prom-nav-link:first-child {
        display: block;
    }

    .prom-nav-middle li.prom-nav-link {
        background-color: #e2e2e2;
    }

        .prom-nav-middle li.prom-nav-link:nth-child(even) {
            background-color: #979797;
        }
}

/* content */

.navbanner-link-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

    .navbanner-link-grid-container a {
        text-decoration: none;
        color: inherit;
    }

.navbanner-link-text {
    text-align: center;
    max-width: 80%;
}

.navbanner-link-container {
    background: lightgray;
    box-sizing: border-box;
}

.navbanner-link-box {
    background: white;
}

.prom-leftnav-container {
    padding: 1rem 0.5rem;
}

.prom-leftnav .prom-leftnav-section {
    margin-bottom: 0.25rem;
    padding: 0.25rem;
    position: relative;
    border: 1px solid #ccc;
}

.prom-leftnav a.prom-leftnav-featurette-button {
    margin-bottom: 0.5rem;
}

.prom-leftnav a.prom-leftnav-featurette-button-1 {
    margin-top: 1rem;
}

.prom-leftnav .prom-leftnav-header {
    cursor: pointer;
}

a.prom-leftnav-header:hover {
    text-decoration: none;
}

.prom-leftnav .prom-leftnav-header:first-child {
    padding-left: 0.25rem;
    padding-right: 1.5rem;
}

.prom-leftnav .prom-leftnav-content {
    font-size: 0.9rem;
    padding-top: 0.5rem;
    padding-bottom: 0.1rem;
    padding-right: 0.7rem;
}

    .prom-leftnav .prom-leftnav-content ul {
        margin-bottom: 0.25rem;
    }

.prom-leftnav-social {
    font-size: 2rem;
    margin-top: 1rem;
}

    .prom-leftnav-social a.prom-leftnav-social-link {
        margin-left: 0.5rem;
    }

        .prom-leftnav-social a.prom-leftnav-social-link:last-child {
            margin-right: 0.5rem;
        }

/* body content */
.prom-body-content-container {
    padding-left: 0;
    padding-right: 0;
}

.prom-body-content {
    background-color: white;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    padding: 0.5rem 1rem;
}

@media (min-width: 576px) {
    .prom-body-content-container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .prom-body-content {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

.prom-body-content h1 {
    font-size: 2rem;
    display: inline-block;
}

.prom-body-content hr {
    border-top: 2px solid;
}

.prom-body-content h2 {
    font-size: 1.8rem;
    line-height: 1.5;
}

    .prom-body-content h2 + hr {
        margin-top: -0.5rem;
        padding-top: 0;
    }

.prom-body-content h3 {
    font-size: 1.6rem;
}

.prom-body-content dd {
    margin-left: 3rem;
    margin-top: 0.5rem;
}

.prom-location-tile {
    border: 1px solid #ccc;
    background-color: #f0f0f0;
}

    .prom-location-tile .status-bar {
        height: 0.4rem;
    }

.prom-tile {
    padding-top: 45px;
    background: white;
    height: 162px;
    text-decoration: none;
}

    .prom-tile > svg {
        width: 45px;
    }

    .prom-tile:hover {
        background-color: #ccc;
        color: white;
        text-decoration: none;
    }

    .prom-tile > svg path,
    .prom-tile > svg polygon {
        stroke: #666;
        fill: #666;
    }

    .prom-tile:hover > svg path,
    .prom-tile:hover > svg polygon {
        fill: white;
        stroke: white;
    }

    .prom-tile > p {
        margin-top: 0.5rem;
        color: black;
        text-align: center;
        text-decoration: none;
    }

.prom-alert > p:last-child {
    margin-bottom: 0;
}

.prom-card-footer p {
    margin-bottom: 0;
}

.prom-location-icon-text {
    color: white;
    font-weight: bold;
}

.prom-location .todays-status {
    color: #006;
    font-size: larger;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.prom-location .prom-features {
    text-align: center;
    margin-bottom: 0.5rem;
}

.prom-location .prom-feature-segment {
    margin-bottom: 0.5rem;
}

.prom-location .prom-location-nearby td {
    vertical-align: middle;
}

.prom-locations-maplink {
    color: black;
}

    .prom-locations-maplink:hover {
        color: white;
    }

.emedia-help {
    color: black;
}

    .emedia-help:hover {
        color: black;
    }

blockquote {
    padding-left: 3rem;
}

/* paginate page input styling */

.page-link {
    height: 36px;
}

.page-input {
    padding: 0.5rem;
    text-align: center;
    width: 60px;
    -moz-appearance: textfield;
    -webkit-appearance: none;
}

    .page-input::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        margin: 0;
        -moz-appearance: textfield;
        -webkit-appearance: none;
    }

@media print {
    div#mainContent.col-sm-9 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    body {
        background-color: white;
    }

    .prom-content-container {
        background-color: white;
    }
}