@model Ocuda.Ops.Controllers.Areas.Admin.ViewModels.Pages.PreviewViewModel

<a asp-action="@nameof(PagesController.Detail)"
   asp-route-id="@Model.HeaderId"
   asp-route-language="@Model.Language"
   class="btn btn-outline-secondary text-dark"
   style="margin-top:10px;">
    Return to Editor
</a>

<hr />

@Html.Raw(Model.Content)