@model Ocuda.Ops.Models.Entities.Page

<div class="container-fluid">
    <h1>@Model.Title</h1>
    <div class="row">
        <div class="col">
            @Html.Raw(Model.Content)
        </div>
    </div>
</div>
