@model Ocuda.Ops.Controllers.Areas.Admin.ViewModels.Location.LocationViewModel;

    <div>
        <input value="@Model.LocationGroup.Id" asp-for="LocationGroup.Id" type="hidden" />
        <p>Nothing to edit for now</p>
    </div>
