@model Ocuda.Ops.Controllers.Areas.Admin.ViewModels.Location.LocationViewModel;

<div class="row">
    <input value="@Model.LocationGroup.Id" 
           asp-for="LocationGroup.Id" 
           type="hidden" 
           autocomplete="off"/>
    <p>Nothing to edit for now</p>
</div>