@model Ocuda.Ops.Controllers.Areas.Admin.ViewModels.Location.GroupListViewModel;

@if (Model.Groups.Count() == 0)
{
    <div class="alert alert-warning">No Items found</div>
}
else
{
    <div>
        <table class="table table-condensed table-bordered table-striped">
            <thead>
                <tr>
                    <td>Group Type</td>
                    <td width="100px">Is Location Region</td>
                    <td width="44px">&nbsp;</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var group in Model.Groups)
                {
                    <tr class="itemRow">
                        <td>
                            @group.GroupType
                        </td>
                        <td>
                            @if (group.IsLocationRegion)
                            {
                                <span class="fas fa-check"></span>
                            }
                            else
                            {
                                <span class="fas fa-check"></span>
                            }
                        </td>
                        <td>
                            <button type="button"
                                    class="btn btn-link btn-xs addgroupButton"
                                    data-itemid="@group.Id">
                                <span class="fa fa-2x fa-plus-circle text-success" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @if (Model.PaginateModel.MaxPage > 1)
    {
        <paginate paginateModel="@Model.PaginateModel" asButtons="true"></paginate>
    }
}
