@model Ocuda.Ops.Controllers.Areas.Admin.ViewModels.Sections.DetailViewModel

<form asp-action="@Model.Action" method="post" role="form">
    @if (Model.Action == nameof(SectionsController.Edit))
    {
        <input asp-for="Section.Id" type="hidden" />
    }

    <input asp-for="Section.Name" formgroup />
    <input asp-for="Section.Path" readonly="@(Model.IsReadonly ? "readonly" : null)" formgroup />
    <input asp-for="Section.Icon" formgroup />
    <input asp-for="Section.SortOrder" formgroup />
    <input asp-for="Section.FeaturedVideoUrl" formgroup />

    <div class="row">
        <div class="offset-md-3 col-md-9">
            <a class="btn btn-outline-secondary text-dark" asp-action="@nameof(SectionsController.Index)">Cancel</a>
            <button type="submit" class="btn btn-success btn-spinner" aria-label="Confirm">
                <span class="fa fa-save" aria-hidden="true"></span>
                Save
                <span class="fa fa-spinner fa-pulse fa-fw d-none"></span>
            </button>
        </div>
    </div>
</form>