@model Ocuda.Promenade.Models.Entities.SegmentText
@if (Model != null)
{
	if (!string.IsNullOrEmpty(Model.Header))
	{
		<h1 class="prom-title">@Model.Header</h1>
	}
	@Html.Raw(Model.Text)
}
else
{
	<h1 class="prom-title">@Localizer[Promenade.RenewYourLibraryCard]</h1>
	<p>@HtmlLocalizer[Promenade.CardRenewalUnableToRenew, Url.Action(nameof(LocationsController.Find), LocationsController.Name)]</p>
}
