@model Ocuda.Ops.Controllers.Areas.SiteManagement.ViewModels.Emedia.GroupsViewModel

<div class="row mb-2">
    <div class="col-sm-6">
        <h1>
            Emedia Groups
        </h1>
    </div>
    <div class="col-sm-6">
        <a class="btn btn-outline-dark mt-2 mb-1 ml-2 float-right"
           asp-controller="@Ocuda.Ops.Controllers.Areas.SiteManagement.HomeController.Name"
           asp-action="@(nameof(Ocuda.Ops.Controllers.Areas.SiteManagement.HomeController.Index))">Back</a>
    </div>
</div>

<form asp-controller="@EmediaController.Name" asp-action="@(nameof(EmediaController.DeleteGroup))" method="post" role="form">
    <input id="deleteCurrentPage" asp-for="PaginateModel.CurrentPage" type="hidden" />

    <input id="deleteId" asp-for="EmediaGroup.Id" type="hidden" />
    <input id="deleteName" asp-for="EmediaGroup.Name" type="hidden" />

    <div modal id="deleteModal" name="Emedia Group" type="Ocuda.Utility.TagHelpers.ModalTypes.Delete"></div>
</form>