@model Ocuda.Ops.Controllers.Areas.SiteManagement.ViewModels.Emedia.GroupDetailsViewModel

<div class="row mb-2">
    <div class="col-sm-8">
        <h1>
            Emedia Group
            <small class="text-muted">@Model.EmediaGroup.Name</small>
        </h1>
    </div>
    <div class="col-sm-4">
        <a class="btn btn-outline-dark mt-2 mb-1 ml-2 float-right"
           asp-action="@(nameof(EmediaController.Index))">Back</a>

        <button class="btn btn-outline-success mt-2 mb-1 mr-2 float-right"
                data-toggle="modal"
                data-target="#addModal">
            <span class="fas fa-plus-circle" aria-hidden="true"></span>
            Add Emedia
        </button>
    </div>
</div>