.container-fluid {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.sortable-column {
    color: slateblue;
}

    a.sortable-column:hover {
        text-decoration: none;
    }

div.sortable-column {
    cursor: pointer
}

    div.sortable-column:hover {
        color: #0056b3;
    }

.page-link {
    height: 38px;
}

.page-input {
    padding: .5rem;
    text-align: center;
    width: 60px;
    -moz-appearance: textfield;
    -webkit-appearance: none;
}

    .page-input::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
        margin: 0;
        -moz-appearance: textfield;
        -webkit-appearance: none;
    }

.row-link {
    cursor: pointer;
}

.oc-modal-xl {
    max-width: unset;
    width: 95%;
}

@media (min-width: 576px) {
    .oc-modal-xl {
        width: 90%;
    }
}

@media (min-width: 768px) {
    .oc-modal-xl {
        width: 85%;
    }
}

@media (min-width: 992px) {
    .oc-modal-xl {
        width: 80%;
    }
}